<?xml version="1.0"?>
<model>
  <name>my_arm</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Georgios Sidiropoulos</name>
    <email>sidiropoulosgeorgios000@gmail.com</email>
  </author>

  <description>
    Single-link human arm mesh: OBJ for visual, STL for collision.
  </description>
</model>
